{% extends 'base.html' %}
{% block content %}
<div class="bg-white p-4 rounded shadow">
    <h6><font color="red">"Кодекс Российской Федерации об административных правонарушениях"</font></h6>
    <h6><font color="grey">Аббревиатуры: КОаП- Кодекс РФ об Административных правонарушениях,
        ТС - транспортное средство, ПДД - Правила дорожного движения,
        Осн. п. - Основные положения по допуску ТС к эксплуатации и
        обязанности должностных лиц по обеспечению безопасности дорожного движения,
        Прил. - Приложение к Осн п., ТО - технический осмотр, ВУ - водительское удостоверение,
        ТР - технический регламент о безопасности ТС, ПППиБ - Правила перевозок пассажиров и багажа
        автомобильным транспортом и городским наземным эл. транспортом, ВАИ - Военная автомобильная инспекция</font></h6>

    <h2>ШТРАФЫ И ДРУГИЕ САНКЦИИ ДЛЯ ВОДИТЕЛЕЙ, ПАССАЖИРОВ И ПЕШЕХОДОВ</h2>
    <table class="table table-hover mt-3">
        <thead class="table-dark">
            <tr>
                <th>Статья КоАП</th>
                <th>ПДД</th>
                <th>Нарушение</th>
                <th>Санкции</th>
            </tr>
        </thead>
        <tbody>
           <tr>
               <tr>
    <td>8.23</td>
    <td>Прил. 6.1, 6.5</td>
    <td>Эксплуатация ТС с превышением нормативов содержания загрязняющих веществ в выбросах, либо уровня шума</td>
               <td><font color="red">500 руб. или предупреждение</font></td>
</tr>
<tr>
    <td>11.14¹ ч.1</td>
    <td>ПППиБ</td>
    <td>Отсутствие в салоне легкового такси информации, предусмотренной ПППиБ</td>
    <td><font color="red">1 000 руб.</font></td>
</tr>
<tr>
    <td>11.14¹ ч.2</td>
    <td>ПППиБ</td>
    <td>Невыдача пассажиру кассового чека или квитанции в форме бланка строгой отчетности, предусмотренных ПППиБ и подтверждающих оплату пользования легковым такси</td>
    <td><font color="red">1 000 руб.</font></td>
</tr>
<tr>
    <td>11.14¹ ч.3</td>
    <td>ПППиБ</td>
    <td>Отсутствие на ТС, используемом для оказания услуг по перевозке пассажиров и багажа, цветографической схемы легкового такси и (или) опознавательного фонаря на крыше указанного ТС</td>
    <td><font color="red">3 000 руб.</font></td>
</tr>
<tr>
    <td>11.14² ч.1</td>
    <td>ПППиБ</td>
    <td>Отказ водителя предъявить договор фрахтования или его копию либо заказ-наряд на предоставление ТС для перевозки пассажиров и багажа по заказу, если договор фрахтования заключен в форме заказа-наряда, должностным лицам, уполномоченным на осуществление контроля за наличием у водителей указанных документов</td>
    <td><font color="red">5 000 руб.</font></td>
</tr>
<tr>
    <td>11.14² ч.2</td>
    <td>ПППиБ</td>
    <td>Перевозка пассажиров и багажа по заказу без заключения в письменной форме договора фрахтования ТС</td>
    <td><font color="red">5 000 руб.</font></td>
</tr>
<tr>
    <td>11.14² ч.3</td>
    <td>ПППиБ</td>
    <td>Взимание платы с пассажиров при перевозке по заказу неопределенного круга лиц</td>
    <td><font color="red">5 000 руб.</font></td>
</tr>
           <tr>
    <td>11.14² ч.4</td>
    <td>ПППиБ</td>
    <td>Посадка пассажиров в ТС, предоставленное для перевозки пассажиров и багажа по заказу, без предъявления пассажирам документов,
    удостоверяющих их право на проезд в этом ТС, или при отсутствии списка пассажиров в случаях, когда предъявление
    указанных документов или наличие указанного списка пассажиров является обязательным</td>
    <td><font color="red">5 000 руб.</font></td>
</tr>
<tr>
    <td>12.1 ч.1</td>
    <td>Осн. п.1</td>
    <td>Управление ТС, не зарегистрированным в установленном порядке</td>
    <td><font color="red">500 – 800 руб.</font></td>
</tr>
<tr>
    <td>12.1 ч.1.1¹</td>
    <td>Осн. п.1</td>
    <td>Повторное совершение административного правонарушения, предусмотренного ч. 1 ст. 12.1</td>
    <td><font color="red">5 000 руб. или лишение прав на 1 – 3 мес.</font></td>
</tr>
<tr>
    <td>12.2 ч.1</td>
    <td>Прил. 7.15</td>
    <td>Управление ТС с нечитаемыми, нестандартными или установленными с нарушением требований гос. стандарта гос. регистрационными знаками, за исключением случаев, предусмотренных ч. 2 настоящей статьи</td>
    <td><font color="red">500 руб. или предупреждение</font></td>
    </tr>
    <td>12.2 ч.2</td>
    <td>Осн. п. 1, 2, 11</td>
    <td>Управление ТС без гос. рег. знаков, а равно управление ТС без установленных на предусмотренных для этого
    местах гос. рег. знаков либо управление ТС с гос. рег. знаками, видоизмененными или оборудованными с применением
    материалов, препятствующих идентификации гос. рег. знаков либо позволяющих их видоизменить или скрыть</td>
    <td><font color="red">5 000 р. или лишение прав на 1-3 мес., ВУ изымается по решению суда</font></td>
</tr>
</tr>
    <td>12.2 ч.2¹</td>
    <td>Осн. п. 1, 2, 11</td>
    <td><font color="blue">Управление ТС с гос. рег. знаками, оборудованными с применением устройств, препятствующих идентификации
    гос. рег. знаков либо позволяющих их видоизменить или скрыть</font></td>
    <td><font color="red">Лишение прав на 1 – 1,5 года с конфискацией указанных устройств</font></td>
</tr>
<tr>
    <td>12.2 ч.3</td>
    <td>Осн. п. 1, 2, 11</td>
    <td>Установка на ТС заведомо подложных государственных регистрационных знаков</td>
    <td><font color="red">2 500р.</font></td>
</tr>
           <tr>
    <td>12.2 ч.4</td>
    <td>Осн. п. 1, 2, 11</td>
    <td>Управление ТС с заведомо подложных государственных регистрационных знаков</td>
    <td><font color="red">Лишение прав на 6-12 мес., ВУ изымается по решению суда</font></td>
</tr>
<tr>
    <td>12.2 ч.5</td>
    <td>Осн. п. 1, 2, 11</td>
    <td><font color="blue">Повторное правонарушение, предусмотренное ч. 2 ст. 12.2</font></td>
    <td><font color="red">Лишение прав на 1-1.5 года</font></td>
</tr>
<tr>
    <td>12.3 ч.1</td>
    <td>2.1.1.</td>
    <td>Управление ТС водителем, не имеющим при себе регистрационных документов на ТС, а в установленных случаях документов, предусмотренных таможенным законодательством Таможенного союза, с отметками таможенных органов</td>
    <td><font color="red">500 руб. или предупреждение, ТС задерживается, водитель отстраняется от управления</font></td>
</tr>
<tr>
    <td>12.3 ч.2</td>
    <td>2.1.1.</td>
    <td>Управление ТС без документов на право управления им, без страхового полиса (исключая ч. 2 ст. 12.37) и в предусмотренных случаях путевого листа или товарно-транспортных документов</td>
    <td>500 руб. или предупреждение</td>
</tr>
<tr>
    <td>12.3 ч.2¹</td>
    <td>ПППиБ</td>
    <td>Перевозка пассажиров и багажа легковым ТС, используемым для оказания услуг по перевозке пассажиров и багажа, водителем, не имеющим при себе разрешения на осуществление деятельности по перевозке пассажиров и багажа легковым такси</td>
    <td>5 000 руб.</td>
</tr>
<tr>
    <td>12.3 ч.3</td>
    <td>2.7</td>
    <td>Передача управления ТС лицу, не имеющему при себе документов на право управления им</td>
    <td>3 000 руб.</td>
</tr>
<tr>
    <td>12.4 ч.1</td>
    <td>Прил. 3.1</td>
    <td>Установка на ТС световых приборов, тип или режим работы которых не соответствует требованиям Осн. п.</td>
    <td>3 000 руб., конфискация приборов</td>
</tr>
<tr>
    <td>12.4</td>
    <td>Прил. 7.8</td>
    <td>Установка на ТС без разрешения устройств для подачи специальных световых сигналов (кроме сигнализации) или незаконная установка на ТС опознавательного фонаря легкового такси или опознавательного знака «Инвалид»</td>
    <td>5 000 руб., конфискация устройств</td>
</tr>
<tr>
    <td>12.4 ч.3</td>
    <td>Прил. 7.8</td>
    <td>Незаконное нанесение на наружные поверхности ТС специальных цветографических схем автомобилей оперативных служб или цветографической схемы легкового такси</td>
    <td>5 000 руб.</td>
</tr>
<tr>
    <td>12.5 ч.1</td>
    <td>2.3.1</td>
    <td>Управление ТС при наличии неисправностей, при которых эксплуатация ТС запрещена (исключая ч. 1.1 – 7, ст. 12.5)</td>
    <td>500 руб. или предупреждение</td>
</tr>
<tr>
    <td>12.5</td>
    <td>2.3.1</td>
    <td>Управление ТС с неоформленной в установленном порядке диагностической картой, подтверждающей допуск ТС к участию в дорожном движении</td>
    <td>2 000 руб.</td>
</tr>
<tr>
    <td>12.5 ч.2</td>
    <td>2.3.1</td>
    <td>Управление ТС с заведомо неисправными тормозной системой (исключая стояночный тормоз), рулевым управлением или сцепным устройством (в составе поезда)</td>
    <td>500 руб., водитель отстраняется от управления, ТС задерживается</td>
</tr>
<tr>
    <td>12.5 ч. 3</td>
    <td>Прил. 3.1-3.6</td>
    <td>Управление ТС, на котором установлены световые приборы или световозвращающие приспособления, не соответствующие требованиям Осн. п.</td>
    <td>Лишение прав на 6 – 12 мес., конфискация приборов, ВУ изымается по решению суда</td>
</tr>
<tr>
    <td>12.5 ч.3¹</td>
    <td>ТР 3.5.2.</td>
    <td>Управление ТС, на котором установлены стекла, светопропускание которых не соответствует Техническому регламенту</td>
    <td>500 руб.</td>
</tr>
<tr>
    <td>12.5 ч.4</td>
    <td>Осн. п. 11</td>
    <td>Управление ТС, на котором без разрешения установлены устройства для подачи специальных световых сигналов (кроме сигнализации)</td>
    <td>Лишение прав на 1 – 1,5 года, конфискация устройств, ВУ изымается по решению суда</td>
</tr>
<tr>
    <td>12.5 ч.4¹</td>
    <td>ПППиБ</td>
    <td>Управление ТС, на котором незаконно установлен опознавательный фонарь легкового такси или опознавательный знак "Инвалид"</td>
    <td>5 000р., конфискация фонаря</td>
</tr>
           <tr>
    <td>12.5 ч.5</td>
    <td>Осн. п. 11</td>
    <td>Использование при движении ТС устройств для подачи спец. световых или звуковых
    сигналов, установленных без соответствующего разрешения(кроме сигнализации)</td>
    <td>Лишение прав на 1.5-2 года, конфискация устройств, ВУ изымается по решению суда</td>
</tr>
           <tr>
    <td>12.5 ч.6</td>
    <td>Осн. п. 11</td>
    <td>Управление ТС, на наружной поверхности которого незаконно
    нанесены цветографические схемы автомобилей оперативных служб</td>
    <td>Лишение прав на 1-1.5 года, ВУ изымается по решению суда.</td>
</tr>
<tr>
    <td>12.5 ч.7</td>
    <td>ПППиБ</td>
    <td>Управление ТС, на которое незаконно нанесена цветографическая схема легкового такси</td>
    <td>5 000 руб.</td>
</tr>
<tr>
    <td>12.6</td>
    <td>2.1.2</td>
    <td>Управление ТС водителем, не пристегнутым ремнем безопасности, перевозка не пристегнутых пассажиров, управление мотоциклом или мопедом/перевозка пассажиров без мотошлемов или в незастегнутых мотошлемах</td>
    <td><font color="blue">1 500 руб.</font></td>
</tr>
<tr>
    <td>12.7 ч.1</td>
    <td>2.1.1</td>
    <td>Управление ТС водителем, не имеющим права управления ТС (исключая учебную езду)</td>
    <td>5 000 – 15 000 руб., водитель отстраняется от управления, ТС задерживается</td>
</tr>
<tr>
    <td>12.7 ч.2</td>
    <td>2.1.1</td>
    <td>Управление ТС водителем, лишенным права управления ТС</td>
    <td>30 000 руб. или арест до 15 сут. или обязательные работы 100 – 200 часов, водитель отстраняется от управления, ТС задерживается</td>
</tr>
<tr>
    <td>12.7 ч.3</td>
    <td>2.7</td>
    <td>Передача управления ТС лицу, заведомо не имеющему права управления ТС (исключая учебную езду) или лишенному такого права</td>
    <td>30 000 руб.</td>
</tr>
<tr>
    <td>12.7 ч.4</td>
    <td>2.7</td>
    <td>Повторное правонарушение, предусмотренное ч.2 ст.12.7</td>
    <td>50 000 – 100 000 руб. или обязательные работы 150-200 часов, водитель отстраняется от управления, ТС задерживается</td>
</tr>
<tr>
    <td>12.8 ч.1</td>
    <td>2.7</td>
    <td>Управление ТС водителем, находящимся в состоянии опьянения, если такие действия не содержат уголовно-наказуемого деяния</td>
    <td><font color="blue">45 000 руб.</font> и лишение прав на 1,5 – 2 года, ТС задерживается, ВУ изымается по решению суда, водитель отстраняется от управления и направляется на мед. освидетельствование</td>
</tr>
<tr>
    <td>12.8 ч.2</td>
    <td>2.7</td>
    <td>Передача управления ТС лицу, находящемуся в состоянии опьянения</td>
    <td><font color="blue">45 000 руб.</font> и лишение прав на 1,5 – 2 года, ВУ изымается по решению суда</td>
</tr>
<tr>
    <td>12.8 ч.3</td>
    <td>2.7, 2.1.1</td>
    <td>Управление ТС водителем, находящимся в состоянии опьянения, не имеющим(лишенным) права управления ТС, если такие действия не содержат уголовно-наказуемого деяния</td>
    <td>Арест на 10 – 15 сут. или штраф <font color="blue">45 000 руб.</font>*, ТС задерживается, водитель отстраняется от управления и направляется на мед. освидетельствование</td>
</tr>
   <tr>Примечание. Употребление веществ, вызывающих алкогольное или наркотическое опьянение, либо психотропных
    или иных вызывающих опьянение веществ запрещается. Административная ответственность, предусмотренная настоящей
    статьей и частью 3 ст. 12.27, наступает в случае установленного факта употребления вызывающих алкогольное опьянение
    веществ, который определяется наличием абсолютного этилового спирта в концентрации, превышающей возможную суммарную
    погрешность измерений, а именно 0,16 миллиграмма на один литр выдыхаемого воздуха, или наличием абсолютного этилового спирта
    в концентрации 0,3 и более грамма на один литр крови, либо в случае наличия наркотических средств или психотропных
    веществ в организме человека.</tr>
<tr>
    <td>12.9</td>
    <td>10.2 – 10.4</td>
    <td>Превышение установленной скорости движения ТС на величину не менее 20, но не более 40 км/ч</td>
    <td>750 руб.</td>
</tr>
<tr>
    <td>12.9</td>
    <td>10.2 – 10.4</td>
    <td>Превышение установленной скорости движения ТС на величину не менее 40, но не более 60 км/ч</td>
    <td>1 500 – 2 250 руб.</td>
</tr>
<tr>
    <td>12.9</td>
    <td>10.2 – 10.4</td>
    <td>Превышение установленной скорости движения ТС на величину более 60 км/ч</td>
    <td>3 000 – 3 750 руб. или лишение прав на 4 – 6 мес., ВУ изымается по решению суда</td>
</tr>
<tr>
    <td>12.9</td>
    <td>10.2 – 10.4</td>
    <td>Превышение установленной скорости движения ТС на величину более 80 км/ч</td>
    <td>7 500 руб. или лишение прав на 6 мес.</td>
</tr>
<tr>
    <td>12.9</td>
    <td>10.2 – 10.4</td>
    <td>Повторное совершение административного правонарушения, предусмотренного ч. 3 ст. 12.9</td>
    <td>3 000 – 3 750 руб.</td>
</tr>
<tr>
    <td>12.10</td>
    <td>Прил. 3.15</td>
    <td>Управление ТС, на котором установлены световые приборы или световозвращающие приспособления, не соответствующие требованиям Основных положений</td>
    <td>Лишение прав на 1 – 1,5 года, конфискация приборов, ВУ изымается по решению суда</td>
</tr>
<tr>
    <td>12.11</td>
    <td>Прил. 3.16</td>
    <td>Использование при движении ТС устройств для подачи специальных световых сигналов, установленных без соответствующего разрешения (кроме сигнализации)</td>
    <td>Лишение прав на 1 – 1,5 года, конфискация устройств, ВУ изымается по решению суда</td>
</tr>
<tr>
    <td>12.12</td>
    <td>Прил. 3.17</td>
    <td>Использование при движении ТС устройств для подачи специальных световых сигналов, установленных без соответствующего разрешения (кроме сигнализации)</td>
    <td>Лишение прав на 1 – 1,5 года, конфискация устройств, ВУ изымается по решению суда</td>
</tr>
<tr>
    <td>12.15</td>
    <td>-</td>
    <td>Движение по велосипедным или пешеходным дорожкам, тротуарам в нарушение ПДД</td>
    <td>2 000 руб.</td>
</tr>
<tr>
    <td>12.15</td>
    <td>-</td>
    <td>Выезд в нарушение ПДД на полосу, предназначенную для встречного движения, при объезде препятствия, либо на трамвайные пути встречного направления при объезде препятствия</td>
    <td>1 500 – 2 250 руб.</td>
</tr>
<tr>
    <td>12.15</td>
    <td>-</td>
    <td>Выезд в нарушение ПДД на полосу, предназначенную для встречного движения, либо на трамвайные пути встречного направления, за исключением случаев, предусмотренных ч.3 ст.12.15</td>
    <td>7 500 руб. или лишение прав на 4 – 6 мес., ВУ изымается по решению суда</td>
</tr>
<tr>
    <td>12.15</td>
    <td>-</td>
    <td>Повторное совершение административного правонарушения, предусмотренного ч.4 ст.12.15</td>
    <td>Лишение прав на 1 год</td>
</tr>
<tr>
    <td>12.16</td>
    <td>-</td>
    <td>Несоблюдение требований, предписанных дорожными знаками или разметкой проезжей части дороги (искл. ч. 2 – 8 ст.12.16 и др. ст. главы 12)</td>
    <td>750 руб. или предупреждение</td>
</tr>
<tr>
    <td>12.16</td>
    <td>-</td>
    <td>Поворот налево или разворот в нарушение требований, предписанных дорожными знаками или разметкой проезжей части дороги</td>
    <td>1 500 – 2 250 руб.</td>
</tr>
<tr>
    <td>12.16</td>
    <td>-</td>
    <td>Движение во встречном направлении по дороге с односторонним движением</td>
    <td>7 500 руб. или лишение прав на 4 – 6 мес., ВУ изымается по решению суда</td>
</tr>
<tr>
    <td>12.16</td>
    <td>-</td>
    <td>Повторное совершение административного правонарушения, предусмотренного ч.3 ст.12.16</td>
    <td>Лишение прав на 1 год. В случае видеофиксации – штраф 7 500 руб.</td>
</tr>
<tr>
    <td>12.16</td>
    <td>-</td>
    <td>Несоблюдение требований, предписанных дорожными знаками или разметкой проезжей части дороги, запрещающими остановку или стоянку ТС, за исключением случая, предусмотренного ч.5 ст.12.16</td>
    <td>2 250 руб., ТС задерживается</td>
</tr>
<tr>
    <td>12.16</td>
    <td>-</td>
    <td>Нарушение, предусмотренное ч.4 ст.12.16, совершенное в городе федерального значения Москве или Санкт-Петербурге</td>
    <td>4 500 руб., ТС задерживается</td>
</tr>
<tr>
    <td>12.16</td>
    <td>-</td>
    <td>Несоблюдение требований, предписанных дорожными знаками, запрещающими движение грузовых ТС, за исключением случая, предусмотренного ч.7 ст.12.16</td>
    <td>5 000 руб.</td>
</tr>
<tr>
    <td>12.16</td>
    <td>-</td>
    <td>Нарушение, предусмотренное ч.6 ст.12.16 и совершенное в городе федерального значения Москве или Санкт-Петербурге</td>
    <td>7 500 руб.</td>
</tr>
<tr>
    <td>12.16</td>
    <td>-</td>
    <td>Повторное правонарушение, предусмотренное ч.6 или 7 ст.12.16</td>
    <td>10 000 руб.</td>
</tr>
<tr>
    <td>12.17</td>
    <td>-</td>
    <td>Непредоставление преимущества маршрутному ТС, а равно ТС с включенным проблесковым маячком синего цвета и специальным звуковым сигналом</td>
    <td>500 руб. или предупреждение</td>
</tr>
<tr>
    <td>12.17</td>
    <td>-</td>
    <td>Движение транспортных средств по полосе для маршрутных транспортных средств или остановка на указанной полосе в нарушение Правил дорожного движения, за исключением случаев, предусмотренных ч.3 и 4 ст.12.15 и случаях, предусмотренных ч.1 ст.12.17</td>
    <td>2 250 руб.</td>
</tr>
<tr>
    <td>12.17</td>
    <td>-</td>
    <td>Нарушение, предусмотренное ч.1 ст.12.17, совершенное в городе федерального значения Москве или Санкт-Петербурге</td>
    <td>4 500 руб.</td>
</tr>
<tr>
    <td>12.17</td>
    <td>-</td>
    <td>Непредоставление преимущества ТС, имеющему нанесенные специальные цветографические схемы, надписи и обозначения, с одновременно включенными проблесковым маячком синего цвета и специальным звуковым сигналом</td>
    <td>от 4 500 руб. до 7 500 руб. или лишение прав от 3 мес. до 1 года, ВУ изымается по решению суда</td>
</tr>
<tr>
    <td>12.18</td>
    <td>-</td>
    <td>Невыполнение требования ПДД уступить дорогу пешеходам, велосипедистам или иным пользователям, пользующимся преимуществом</td>
    <td>1 500 – 2 500 руб.</td>
</tr>
<tr>
    <td>12.19</td>
    <td>-</td>
    <td>Нарушение правил остановки или стоянки ТС (исключая ч. 1 ст.12.10 и ч. 2 – 6 ст.12.19)</td>
    <td>500 руб. или предупреждение</td>
</tr>
<tr>
    <td>12.19</td>
    <td>-</td>
    <td>Нарушение правил остановки или стоянки ТС в местах, отведённых для остановки или стоянки ТС инвалидов</td>
    <td>5 000 руб., ТС задерживается</td>
</tr>
<tr>
    <td>12.19</td>
    <td>12.2</td>
    <td>Остановка или стоянка ТС на пешеходном переходе и ближе 5 метров перед ним, за исключением вынужденной остановки и случаев, предусмотренных ч. 6 ст. 12.19, либо нарушение правил остановки или стоянки ТС на тротуаре, за исключением случая, предусмотренного ч. 6 ст. 12.19</td>
    <td>1 000 руб., ТС задерживается</td>
</tr>
<tr>
    <td>12.19</td>
    <td>12.4</td>
    <td>Остановка или стоянка ТС в местах остановки маршрутных ТС или стоянки легковых такси либо ближе 15 метров от мест остановки маршрутных ТС или стоянки легковых такси, за исключением случаев, предусмотренных частями 4 и 6 ст. 12.19</td>
    <td>1 000 руб., ТС задерживается</td>
</tr>
<tr>
    <td>12.19</td>
    <td>12.5</td>
    <td>Остановка или стоянка ТС на трамвайных путях либо остановка или стоянка ТС далее первого ряда от края проезжей части, за исключением вынужденной остановки и случаев, предусмотренных ч. 4 и 6 ст. 12.19</td>
    <td>1 500 руб., ТС задерживается</td>
</tr>
<tr>
    <td>12.19</td>
    <td>12.4</td>
    <td>Нарушение правил остановки или стоянки ТС на проезжей части, повлекшее создание препятствий для движения других ТС, остановка или стоянка ТС в тоннеле, за исключением случая, предусмотренного ч. 6 ст. 12.19</td>
    <td>2 000 руб., ТС задерживается</td>
</tr>
<tr>
    <td>12.19</td>
    <td>12.5</td>
    <td>Нарушение, предусмотренное ч. 1 ст. 12.19, совершенное в городе федерального значения Москве или Санкт-Петербурге</td>
    <td>2 500 руб.</td>
</tr>
<tr>
    <td>12.19</td>
    <td>12.5</td>
    <td>Нарушения, предусмотренные ч. 3 – 4 ст. 12.19, совершенные в городе федерального значения Москве или Санкт-Петербурге</td>
    <td>3 000 руб., ТС задерживается</td>
</tr>
<tr>
    <td>12.20</td>
    <td>-</td>
    <td>Нарушение правил пользования световыми приборами, звуковыми сигналами, аварийной сигнализацией, знаками аварийной остановки</td>
    <td>500 руб. или предупреждение</td>
</tr>
<tr>
    <td>12.21</td>
    <td>23.5</td>
    <td>Нарушение правил перевозки грузов, правил буксировки</td>
    <td>500 руб. или предупреждение</td>
</tr>
<tr>
    <td>12.21</td>
    <td>23.8</td>
    <td>Нарушение водителем правил перевозки крупногабаритных и тяжеловесных грузов</td>
    <td>1 500 – 2 250 руб.</td>
</tr>
<tr>
    <td>12.21</td>
    <td>11.7</td>
    <td>Несоблюдение требований дорожных знаков 3.11, 3.12 без специального разрешения</td>
    <td>7 500 руб.</td>
</tr>
<tr>
    <td>12.21</td>
    <td>23.5</td>
    <td>Нарушение водителем правил перевозки опасных грузов</td>
    <td>1 000 – 2 500 руб. или лишение прав на 4 – 6 мес., ТС задерживается, ВУ изымается по решению суда</td>
</tr>
<tr>
    <td>12.21</td>
    <td>11.7</td>
    <td>Движение ТС, имеющего разрешенную максимальную массу свыше 12 тонн, по автомобильным дорогам общего пользования федерального значения без внесения платы в счет возмещения вреда, причиняемого автомобильным дорогам</td>
    <td>5 000 руб., ТС задерживается до уплаты штрафа</td>
</tr>
<tr>
    <td>12.21</td>
    <td>11.7</td>
    <td>Повторное совершение административного правонарушения, предусмотренного частью 1 настоящей статьи</td>
    <td>10 000 руб., ТС задерживается до уплаты штрафа</td>
</tr>
<tr>
    <td>12.21</td>
    <td>11.7</td>
    <td>Неисполнение обязанности по внесению платы за проезд ТС по платным автомобильным дорогам, платным участкам автомобильных дорог</td>
    <td>1 500 – 5 000 руб.</td>
</tr>
<tr>
    <td>12.22</td>
    <td>гр. 21</td>
    <td>Нарушение правил учебной езды водителем, обучающим вождению</td>
    <td>500 руб. или предупреждение</td>
</tr>
<tr>
    <td>12.23</td>
    <td>гр. 22</td>
    <td>Нарушение правил перевозки людей (исключая ч. 2–6 ст. 12.23)</td>
    <td>500 руб.</td>
</tr>
<tr>
    <td>12.23</td>
    <td>гр. 22</td>
    <td>Перевозка людей вне кабины автомобиля (исключая случаи, разрешенные ПДД), трактора, других самоходных машин, на грузовом прицепе, в прицепе-даче, в кузове грузовика, мотоцикла или вне предусмотренных конструкцией мотоцикла мест для сидения</td>
    <td>1 000 руб.</td>
</tr>
<tr>
    <td>12.23</td>
    <td>гр. 22</td>
    <td>Нарушение требований к перевозке детей, установленных ПДД</td>
    <td>3 000 руб.</td>
</tr>
<tr>
    <td>12.23</td>
    <td>4.4</td>
    <td>Организованная перевозка группы детей автобусами, не соответствующими требованиям Правил организованной перевозки групп детей автобусами, либо водителем, не соответствующим требованиям указанных Правил, либо без договора страхования, если наличие такого документа предусмотрено указанными Правилами, либо без программы маршрута, либо без списка детей, либо без списка сопровождающих, предусмотренных указанными Правилами</td>
    <td>3 000 руб.</td>
</tr>
<tr>
    <td>12.23</td>
    <td>4.5</td>
    <td>Нарушение требований к перевозке детей в ночное время, установленных Правилами организованной перевозки групп детей автобусами</td>
    <td>5 000 руб. или лишение прав на 4 – 6 мес., ВУ изымается по решению суда</td>
</tr>
<tr>
    <td>12.24</td>
    <td>4.1</td>
    <td>Нарушение ПДД или правил эксплуатации ТС, повлекшее причинение легкого вреда здоровью потерпевшего</td>
    <td>3 750 руб. или лишение прав на 1 – 1,5 года, ВУ изымается по решению суда</td>
</tr>
<tr>
    <td>12.24</td>
    <td>4.2</td>
    <td>Нарушение ПДД или правил эксплуатации ТС, повлекшее причинение средней тяжести вреда здоровью потерпевшего</td>
    <td>15 000 – 37 500 руб. или лишение прав на 1,5 – 2 года, ВУ изымается по решению суда</td>
</tr>
<tr>
    <td>12.25</td>
    <td>4.3</td>
    <td>Невыполнение требования о предоставлении ТС сотрудникам полиции или иным лицам, имеющим право использовать ТС</td>
    <td>500 руб.</td>
</tr>
<tr>
    <td>12.26</td>
    <td>4.1</td>
    <td>Невыполнение законного требования сотрудников полиции об остановке ТС</td>
    <td>500 – 800 руб.</td>
</tr>
<tr>
    <td>12.26</td>
    <td>4.2</td>
    <td>Невыполнение законного требования должностного лица ВАИ, войск национальной гвардии РФ, уполномоченных лиц воинских формирований или спасательных формирований об остановке ТС</td>
    <td>500 – 800 руб.</td>
</tr>
<tr>
    <td>12.26</td>
    <td>4.3</td>
    <td>Невыполнение водителем ТС законного требования уполномоченного должностного лица о прохождении медицинского освидетельствования на состояние опьянения</td>
    <td>45 000 руб. или лишение прав на 1,5 – 2 года, водитель отстраняется от управления, ТС задерживается</td>
</tr>
<tr>
    <td>12.27</td>
    <td>4.1</td>
    <td>Невыполнение водителем обязанностей, предусмотренных ПДД, в связи с ДТП, участником которого он является (исключая ч. 2 ст. 12.27)</td>
    <td>1 000 руб.</td>
</tr>
<tr>
    <td>12.27</td>
    <td>4.2</td>
    <td>Оставление водителем в нарушение ПДД места ДТП, участником которого он являлся</td>
    <td>Лишение прав на 1 – 1,5 года или арест на 15 сут., ВУ изымается по решению суда</td>
</tr>
<tr>
    <td>12.27</td>
    <td>4.3</td>
    <td>Употребление алкоголя, наркотиков или психотропных веществ после ДТП либо после остановки ТС сотрудником полиции до проведения медицинского освидетельствования</td>
    <td>45 000 руб. или лишение прав на 1,5 – 2 года, водитель отстраняется от управления, ТС задерживается</td>
</tr>
<tr>
    <td>12.28</td>
    <td>4.1</td>
    <td>Нарушение правил, установленных для движения ТС в жилых зонах, за исключением случая, предусмотренного ч. 2 ст. 12.18</td>
    <td>1 500 руб.</td>
</tr>
<tr>
    <td>12.28</td>
    <td>4.2</td>
    <td>Нарушение, предусмотренное ч. 1 ст. 12.28, совершенное в городе федерального значения Москве или Санкт-Петербурге</td>
    <td>3 000 руб.</td>
</tr>
<tr>
    <td>12.29</td>
    <td>4.1</td>
    <td>Нарушение ПДД пешеходом или пассажиром ТС</td>
    <td>500 руб. или предупреждение</td>
</tr>
<tr>
    <td>12.29</td>
    <td>4.2</td>
    <td>Нарушение ПДД лицом, управляющим велосипедом, либо возчиком или другим лицом, непосредственно участвующим в дорожном движении (за исключением лиц, указанных в ч. 1 ст. 12.29, а также водителя ТС)</td>
    <td>800 руб.</td>
</tr>
<tr>
    <td>12.29</td>
    <td>4.3</td>
    <td>Нарушение ПДД лицами, указанными в ч. 2 ст. 12.29, в состоянии опьянения</td>
    <td>1 000 – 1 500 руб.</td>
</tr>
<tr>
        </tbody>
    </table>
</div>
{% endblock %}